<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-bing" data-id="group-a"><span>常用</span></label>
                        <label for="type-baidu1" data-id="group-b"><span>搜索</span></label>
                        <!-- 如需新增，取消注释 -->
                        <!-- <label for="type-ping" data-id="group-c"><span>工具</span></label> -->
                        <label for="type-zhihu" data-id="group-d"><span>社区</span></label>
                        <!-- <label for="type-taobao1" data-id="group-e"><span>生活</span></label> -->
                        <!-- <label for="type-zhaopin" data-id="group-f"><span>求职</span></label> -->
                    </div>
                </div>
            </div>

            <form action="https://www.bing.com/search?q=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" zhannei=""
                    placeholder="Bing-输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-bing"
                                value="https://cn.bing.com/search?q=" data-placeholder="微软必应搜索">
                            <label for="type-bing"><span class="text-muted">必应</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-video" value="https://bing.com/search?q="
                                data-placeholder="Bing Search">
                            <label for="type-video"><span class="text-muted">Bing</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-google"
                                value="https://www.google.com/search?q=" data-placeholder="Google Search">
                            <label for="type-google"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-filecr"
                                value="https://duckduckgo.com/?q=" data-placeholder="duckduckgo">
                            <label for="type-filecr"><span class="text-muted">DuckDuckGo</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-bing1"
                                value="https://cn.bing.com/search?q=" data-placeholder="微软必应搜索">
                            <label for="type-bing1"><span class="text-muted">必应</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-baidu1"
                                value="https://bing.com/search?q=" data-placeholder="Bing Search">
                            <label for="type-baidu1"><span class="text-muted">Bing</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-google1"
                                value="https://www.google.com/search?q=" data-placeholder="Google Search">
                            <label for="type-google1"><span class="text-muted">Google</span></label>
                        </li>
                    </ul>
                </div>
                <!--工具部分-->
                <!-- <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-ping" value="https://www.itdog.cn/ping/"
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-ping"><span class="text-muted">PING 检测</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-speed" value="https://www.itdog.cn/http/"
                                data-placeholder="测速链接由于官方链接重定向原因无法直接跳转">
                            <label for="type-speed"><span class="text-muted">测速查询</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-br" value="https://rank.chinaz.com/all/"
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-br"><span class="text-muted">权重查询</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-links" value="https://link.chinaz.com/"
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-links"><span class="text-muted">友链检测</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-404"
                                value="https://tool.chinaz.com/Links/?DAddress=" data-placeholder="请输入网址(不带https://)">
                            <label for="type-404"><span class="text-muted">死链检测</span></label>
                        </li>
                    </ul>
                </div> -->
                <div class="search-group group-d">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-zhihu"
                                value="https://www.zhihu.com/search?type=content&q=" data-placeholder="知乎">
                            <label for="type-zhihu"><span class="text-muted">知乎</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-weibo"
                                value="https://so.csdn.net/so/search?q=" data-placeholder="CSDN">
                            <label for="type-weibo"><span class="text-muted">CSDN</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-wechat"
                                value="https://weixin.sogou.com/weixin?type=2&query=" data-placeholder="微信公众号">
                            <label for="type-wechat"><span class="text-muted">微信公众号</span></label>
                        </li>
                    </ul>
                </div>
                <!--生活部分-->
                <!-- <div class="search-group group-e">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-taobao1"
                                value="https://s.taobao.com/search?q=" data-placeholder="淘宝">
                            <label for="type-taobao1"><span class="text-muted">淘宝</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-jd"
                                value="https://search.jd.com/Search?keyword=" data-placeholder="京东">
                            <label for="type-jd"><span class="text-muted">京东</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-xiachufang"
                                value="https://www.xiachufang.com/search/?keyword=" data-placeholder="下厨房">
                            <label for="type-xiachufang"><span class="text-muted">下厨房</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-xiangha"
                                value="https://www.xiangha.com/so/?q=caipu&s=" data-placeholder="香哈菜谱">
                            <label for="type-xiangha"><span class="text-muted">香哈菜谱</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-qunar" value="https://www.qunar.com/?"
                                data-placeholder="去哪儿">
                            <label for="type-qunar"><span class="text-muted">去哪儿</span></label>
                        </li>
                    </ul>
                </div> -->
                <!-- 工作部分 -->
                <!-- <div class="search-group group-f">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-zhaopin"
                                value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" data-placeholder="智联招聘">
                            <label for="type-zhaopin"><span class="text-muted">智联招聘</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-boss"
                                value="https://www.zhipin.com/web/geek/job?query=" data-placeholder="Boss直聘">
                            <label for="type-boss"><span class="text-muted">Boss直聘</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-51job" value="https://search.51job.com/?"
                                data-placeholder="前程无忧">
                            <label for="type-51job"><span class="text-muted">前程无忧</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-lagou"
                                value="https://www.lagou.com/jobs/list_" data-placeholder="拉钩网">
                            <label for="type-lagou"><span class="text-muted">拉钩网</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-liepin"
                                value="https://www.liepin.com/zhaopin/?key=" data-placeholder="猎聘网">
                            <label for="type-liepin"><span class="text-muted">猎聘网</span></label>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
    <!-- 通知框 -->
    <div class="bulletin-big mx-3 mx-md-0">
        <div id="bulletin_box" class="card my-2">
            <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
                <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
                <div class="bulletin mx-1 mx-md-2 carousel-vertical">
                    <div class="carousel slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><a class="overflowClip_1" href="#">怅寥廓，问苍茫大地，谁主沉浮？</a>
                            </div>
                            <div class="carousel-item "><a class="overflowClip_1" href="#">🚀 TIP : 网站已正式投入使用</a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill"></div>
                <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close"
                    onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close"
                        style="line-height:25px"></i></a>
            </div>
        </div>
    </div>
    <!-- 通知框 END -->
</div>